apiVersion: v1
kind: Service
metadata:
  name: {{ include "wuda-app.fullnameFrontend" . }}
  labels:
    {{ include "wuda-app.labelsFrontend" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{ include "wuda-app.selectorLabelsFrontend" . | nindent 4 }}
