name: Deploy to Kubernetes
on:
  push:
    branches:
      - master
    paths:
      - 'charts/wuda-app/**'
      - '.github/workflows/k8s.yml'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Set up Kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: latest

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Create kubeconfig file
        run: echo "${{ secrets.KUBECONFIG }}" > ${{ github.workspace }}/kubeconfig

      - name: Deploy to Kubernetes using Helm
        env:
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          helm upgrade --install wuda charts/wuda-app --rollback-on-failure
          rm -f ${{ github.workspace }}/kubeconfig